
@{
    ViewData["Title"] = "Index";
}

<h3 >Administrator Management</h3>

<div class="container">
    <div class="align-content-center m-5">
        <div class="row">
            <div class="col-md-4">
                <a asp-action="Index" asp-controller="Location" asp-area="Admin" class="btn btn-lg btn-primary">Location Management</a>

               
            </div>

            <div class="col-md-4">

            </div>

        </div>

    </div>

</div>
<div>
</div>

