@model LoginViewModel
@{
    ViewData["Title"] = "Login User";
}


<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h1 class="justify-content-center">Login</h1>


            <form method="post">

                <div>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="d-grid mt-4">
                    <button class="btn btn-primary">Signin</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </form>
        </div>
    </div>
</div>
