
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="align-content-center m-5">
        <div class="row">
            <div class="col-md-4">
                 <a asp-action="Edit" class="btn btn-lg btn-primary">Edit Profile </a>
                
            </div>
            <div class="col-md-4">
                <a asp-action="Index" asp-controller="schedule" asp-area="driveruser" class="btn btn-lg btn-primary"> Trip</a>

            </div>
            <div class="col-md-4">
         <a asp-action="index" asp-controller="drivercab" asp-area="driveruser" class="btn btn-lg btn-primary">My Cab</a>

            </div>

        </div>
       
    </div>

</div>


